body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: 'Minecraft', monospace;
}

#gameCanvas {
  display: block;
  margin: 0 auto;
  background: black;
  width: 100vw;
  height: 100vh;
}

